   @model IEnumerable<StaffPortal.Entities.Salary>
@{
    ViewBag.Title = "Year";
}
<!-- ============================================================== -->

<div class="row">
    <div class="col-sm-12">

        <div class="white-box">

            @*<a asp-controller="Salary" asp-action="Create" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>New Salary</a>*@
            <div style="font-family:Arial">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>


                                <th>
                                    Email
                                </th>
                                <th>
                                    Grade Name
                                </th>
                                <th>
                                    Year
                                </th>
                                <th>
                                    Total Allowance
                                </th>



                                <th>
                                    Total Deduction
                                </th>

                                <th>
                                    Total NetPay
                                </th>


                            </tr>

                        </thead>
                        <tbody>

                            @foreach (var Salary in Model)
                            {
                            <tr>
                                
                                
                                <td>@Salary.UserProfile.Email   </td>
                                <td> @Salary.UserProfile.GradeName </td>

                                <td>@Salary.Year </td>

                                <td>@Salary.YearAllow  </td>
                                <td> @Salary.YearDeduction   </td>
                                <td> @Salary.YearPay   </td>




                                <td><a asp-action="Edit" asp-route-id="@Salary.Id" alt="Edit"><i class="ti-pencil" aria-hidden="true"></i></a> </td>
                                <td><a onclick="return confirm('Are you sure you want to delete all of the records  for   @Salary.UserProfile.FirstName  @Salary.UserProfile.LastName for the Year: @Salary.Year');" asp-action="DeleteYear" asp-route-id="@Salary.Id"><i class="ti-trash" aria-hidden="true"></i></a> </td>

                              
                                <td>
                                   
                                        <a href="http://localhost:49821/Salary/UserYearlyReport/@Salary.Id" target="_blank"  class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>Salary Report</a>
                                </td>
                            </tr>


                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

@*{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
    *@