

    @using Microsoft.AspNetCore.Identity
    @using StaffPortal.Entities
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
    @model StaffPortal.Entities.UserProfile;
    @{
        ViewData["Title"] = "Index";
    }
    <div class="row page-titles"> 
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Salary Report</h3>
        </div>
        <!--   <div class="col-md-7 align-self-center">
             <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
          </div>-->
    </div>
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="white-box">
                <h2 align="center"> @Model.FirstName @Model.LastName's Salary Details</h2>
                <div class="table-responsive">
                    <form asp-action="Index" method="post" class="mt-4">

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="table-responsive">
                            <table class="table">

                                <tbody>
                                    <tr>
                                        <td><span><strong>Email</strong></span> : @Model.Email</td>
                                        <td><span><strong>Grade</strong></span>  : @Model.GradeName</td>
                                    </tr>
                                    <tr>
                                        <td><span><strong>Level</strong></span>  : @Model.GradeLevel</td>
                                        <td><span><strong>Step</strong></span> : @Model.GradeStep</td>
                                    </tr>
                                </tbody>
                            </table>



                            <br />
                            <p>   <h3>Basic Salary: @Model.BasicSalary</h3></p>
                            <br />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><strong>PayItem </strong></th>
                                        <th>Amount</th>
                                        <th>%</th>
                                        <th>PayItem Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Tax</strong></td>
                                        <td>@Model.Tax</td>
                                        <td>@Model.TaxPercent</td>
                                        <td>Deduction</td>


                                    </tr>
                                    <tr>
                                        <td><strong>Housing</strong></td>
                                        <td>@Model.Housing</td>
                                        <td>@Model.HousingPercent</td>
                                        <td>Allowance</td>


                                    </tr>
                                    <tr>
                                        <td><strong>Lunch</strong></td>
                                        <td>@Model.Lunch</td>
                                        <td>@Model.LunchPercent</td>
                                        <td>Allowance</td>


                                    </tr>
                                    <tr>
                                        <td><strong>Transport</strong></td>
                                        <td>@Model.Transport</td>
                                        <td>@Model.TransportPercent</td>
                                        <td>Allowance</td>


                                    </tr>
                                    <tr>
                                        <td><strong>Medical</strong></td>
                                        <td>@Model.Medical</td>
                                        <td>@Model.MedicalPercent</td>
                                        <td>Allowance</td>


                                    </tr>

                                </tbody>
                            </table>
                            <br />
                            <div>
                                <p><h3>Net Allowance: @Model.TotAllowance</h3></p>
                            </div>
                            <div>
                                <p><h3>Net Deduction: <span style="color:red">@Model.TotDeduction</span></h3></p>
                            </div>
                            <div>
                                <p><h3>Net Salary: @Model.NetPay</h3></p>
                            </div>
                        </div>

                        <a asp-action="Cancel" type="button" class="btn btn-dark">Cancel</a>
                    </form>
</div>
        </div>
    </div>
</div>




